@import "./fontiran.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//snack bar styles
.snack-bar-custom {
  font-family: "IRANSans";
}

.fullscreen-enabled {
  background: #eeeeee;
}

body,
html {
  font-size: 100%;
  // direction: rtl;
}

//for fixing the summernote wysiwyg
.note-editor.note-frame.panel.panel-default {
  margin-bottom: 0 !important;
}
